[submodule "vendor/keystone"]
	path = vendor/keystone
	url = https://github.com/keystone-engine/keystone.git
[submodule "vendor/linenoise"]
	path = vendor/linenoise
	url = https://github.com/antirez/linenoise.git
[submodule "vendor/capstone"]
	path = vendor/capstone
	url = https://github.com/aquynh/capstone.git
